{% extends 'admin_temp/base.html' %}

{% block content %}
<div class="card-body">
    <h4 class="card-title">Order Management</h4>
    <div class="table-responsive">
       
        <table class="table table-striped">
           
            <thead>
                <tr>
                    <th>Order Id</th>
                    <th>User Name</th>
                    <th>Product Name</th>
                    <th>Total Price</th>
                    <th>Adress</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.error }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
        
                </ul>
        
                {% for order in orders   %}
                    <tr>
                        <td>{{ order.id }}</td> <!-- Order ID -->
                        <td>{{ order.user.username }}</td> <!-- User Name -->
                        <td>
                            {% for item in order.product.all %}
                                {{ item.product_name }}
                                <br>
                                <br>
                            {% endfor %}
                        </td> <!-- Product Name -->
                        <td>
                            
                               {{ order.total_price}} $
                         
                        </td> <!-- Total Price -->
                        <td>{{ order.profile.streetaddress }}, {{ order.profile.town }}, {{ order.profile.state }}, {{ order.profile.country }}</td> <!-- Address -->
                        <td>
                            <form method="post" action="{% url 'admin_side:update_status' order.id %}">
                                {% csrf_token %}
                                <select name="order_status" class="form-control">
                                    <option value="Pending" {% if order.od_status == 'Pending' %}selected{% endif %}>Pending</option>
                                    <option value="Processing" {% if order.od_status == 'Processing' %}selected{% endif %}>Processing</option>
                                    <option value="Shipped" {% if order.od_status == 'Shipped' %}selected{% endif %}>Shipped</option>
                                    <option value="Delivered" {% if order.od_status == 'Delivered' %}selected{% endif %}>Delivered</option>
                                    <option value="Return" {% if order.od_status == 'Return' %}selected{% endif %}>Return</option>
                                    <option value="Cancelled" {% if order.od_status == 'Cancelled' %}selected{% endif %}>Cancelled</option>
                                </select>
                                <button type="submit" class="btn btn-primary">Update Status</button>
                            </form>
                        </td>
                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>
      
        
    </div>
</div>

{% endblock %}